body {
    font-family: Andale Mono, sans-serif;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ht1 {
	font-family: Monaco, serif;
    color: #05111e;
    text-decoration: none;
	font-size: 70px;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;  
    overflow-x: hidden;  
}

.navbar-nav .nav-item .nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
	white-space: nowrap;
}


.logo {
    /*background: #F0F8FF;
    border: 5px;
	border-style: solid;	
	border-color: #afb5ba;
	border-radius: 20%;*/
	background-image: url('Images/Fisch.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
	margin-bottom: 2px;
    width: 100px; 
    height: 100px; 
	cursor: pointer;
}

.shopping-cart-container {
    display: flex;
	align-items: right;
    justify-content: flex-start; 
    max-width: 50px; 
}

.logo-box {
    display: flex;
    justify-content: center;
}

.special-box {
    height: 200px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
}

.sidebar {
    position: sticky;
    height: calc(100vh - 70px); 
    overflow-y: auto; 
    border-right: 1px solid #ddd;
}

.sidebar hr {
    border: none;         
    height: 2px;         
    background-color: #333; 
    margin-top: 0;            
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.item-card {
    border: 2px solid #0a0a23;
    border-radius: 8px;
}

.item-card img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-text {
    font-weight: bold;
}

.preview-box {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border: 2px solid navy;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: linear-gradient(to bottom right, white 50%, gray 50%);
}
		
.footer {
    margin-top: auto;
    text-align: center;
}